<div class='row'>
	<div class='col-md-6'>
	<h3>Notes<small>RTFM</small><h3>
	<h4>How do I use this?</h4>
	<p>If you are showing up for a regular class, the lifting will be prescribed on
	the board. Find the <strong>Session</strong> that corresponds to the lift the
	class is doing for that day on your program. Start at the first
	<strong>Week</strong> and check them off as you go along.</p>
	<p>If you are showing up for Barbell Club, we perform two
	<strong>Session</strong>s each class. Pick one lower body and one upper body
	session and perform the workouts as described below.</p>
	<p>The workouts are intended to work consecutively, and to build on each other.
	You should keep track of which sessions you have completed by crossing them
	off, or perhaps by putting a sparkly sticker next to each session you complete.</p>
	<p>This program builds in a lot of opportunities for analysis and coaching. To
	facilitate this, make sure you record the number of reps you get on each
	session's "+" set, as well as any new records you make. Most people keep track
	of their 1, 3, 5, and 10 rep maxes for each lift.</p>
	<h4>What is that + sign for?</h4>
	<p>The most important part of this program is the work sets. These are the 531
	lifts; the A element of each workout session.</p>
	<p> The plus means do as many reps as possible, with the preceding
	numberindicating a minimum number of reps.</p>
	<p>For example, when you see:</p>
	<code>Squat 200 x 5, 225 x 5, 250 x 5+</code>
	<p>this means to perform three sets of squats.</p>
	<ol>
		<li>The first set is 5 reps at 200.</li>
		<li>The second set is 5 reps at 225.</li>
	<li>The third set, do as many reps as possible at 250, getting at least 5 reps.</li>
	</ol>
	<p>Record the number of reps you got on your training plan. It's an important
	metric for determining how you are doing. Also, it's fun to try to hit new 3,
	5, and 10 rep maxes as often as possible. You should be keeping track of those
	too! If you need suggestions for how to organize your training journals and
	logs, talk to any coach.</p>
	<p>If you completely fail to get the required reps, let the coach know. Some
	adjustments may be necessary. In general, however, you should be able to get
	the required reps, and probably several more. It will be hard. All good things
	are.</p>
	<p>That being said, we generally consider it to be counterproductive to overdo
	it. So we usually absolutely cap the reps at 10, and probably more like 10 on
	the 5+ day, 6 or 8 on the 3+ day, and 5 on the 1+ day. It just depends on how
	badly you want it.</p>
	<h4>Optional 'Joker' sets</h4>
	<p> On this program, after performing the main work lift (the one that ends
	with a max rep set denoted by the '+' sign), you have the option of doing what
	Jim Wendler calls 'Joker' sets. A Joker set is actually a number of additional
	sets of the primary exercise with added weight. On your program, the Joker sets
	are indicated like this: </p>
	<code>B. Deadlift +5-10% Joker x 3, +5-10% Joker x 1</code>
	<p>Let's break down the shorthand into more specific instructions. This example
	says to do sets of 3 reps, increasing the weight by 5-10% of your training max
	each time, until you can't. Then do sets of 1 rep at 5-10% increases until you
	can't.</p>
	<p>Whenever it says "+5-10%", that means 5-10% of your training max, which is a
	number that progresses independently of your actual maxes. This is a very
	important number! For convenience, a 5% and 10% value for each of your training
	maxes is given for each cycle (after which they go up).</p>
	<p> Because the weights are often relatively light at the beginning of
	this program, the Joker sets allow you to remain practiced at lifting heavy, and
	to set new maxes.</p>
	<p>In practice, most lifters following this program are good for 1 additional
	Joker set of 3 or 5 reps, and one or two Joker sets of 1 reps. This doesn't
	have to be a PR every single time it comes up. But it should keep you in the
	practice of lifting up to very high percentages of your max.</p>
	<h4>First Set Last</h4>
	<p>Following the optional Joker sets, are the <strong>First Set Last</strong>
	sets. These sets are not optional, but they are programmed to let you gauge how
	you are feeling for that day to make decisions about how to lift that day.</p>
	<p>Whenever you see:
	<code>Press 75 x 3-5 sets of 5-8 reps</code>
	you are looking at a "First Set Last" set. This means to do 3 to 5 sets of 5 to
	8 reps of the press at 75 pounds. How many sets you do, and how many reps each
	set, is entirely up to you. Some days you will feel like the weights are really
	easy and you can crank out 5 x 8. Other days you just want to get in and get
	out and will just do 3 x 5.</p>
	<p>These sets should be performed with very short rests. The weight should be
	very easy, even after the primary work sets and the Joker sets. The goal during
	this section is to add some lifting volume in a different energy pathway than
	the high-intensity, low-reps, high-rest, work sets prescribe. This is not
	unlike bodybuilding in its setup. The preferred rest period between these sets
	are about one minute.</p>
	<h4>Supersets</h4>
	<p>The press and bench press sessions <strong>superset</strong> their
	<strong>First Set Last</strong> element with another element; pullups or
	dumbbell rows. This is indicated in the program as two entries that share the
	same letter, but then also have a number. e.g.:</p>
	<pre>
	C1. Bench Press 170 x 3-5 sets of 5-8 reps
	C2. DB Row 5 sets of 10
	</pre>
	<p>Any time you see this, it means that you do one set of the first element,
	then one element of the second element, alternating exercises until you are
	done. In this example, you will do one set of bench, then one set of rows, then
	one set of bench, then rows, etc, until you have done 5 sets.</p>
	<h4>Efficiency and Falling Behind</h4>
	<p> This is a lot of lifting to get done. This program can be run as two 60
	minute barbell club classes per week, or four shorter length open-gym sessions.
	Here are some tips to help you succeed.  </p>
	<ul>
		<li>Barbell Club starts lifting immediately at the start of class! Regular
			folks are used to the call to action: "6 o'clock! Start SQUATTING". Please
			do your mobilizing and warmup <em>prior</em> to class! </li>
		<li>Each barbell club class does a lower body session and an upper body
			session, in that order. Try to finish the first session in 30 minutes, so
			you have time to do the second session in the remaining 30 minutes. </li>
		<li>Everybody loves conditioning wods, but are not part of this program. Most
			people experience improved WOD performance, despite taking a break. Don't
			worry! You may find that max reps at 95% of your training max is indeed a
		heavy-breathing experience.</li>
		<li>If you can't come twice a week to barbell club, or run out of time and
			don't make it through the entire workout, fear not! As mentioned before,
			the 531 lifts are the most important part of this program. The other lifts
		add volume and help catalyze your development, but they aren't strictly
		necessary. So if you fall behind, feel free to roll in 20-30 minutes prior to
	a class or during open gym to get a 531 lift in.</li>
		<ol>
			<li>For example, if you missed a Thursday, you could show up early for a
				Friday class and do <code>Deadlift 3, 3, 3+ @ 360, 385, 410</code></li>
		</ol>
		<li>Since we're not testing bench press as part of this challenge, make it
			the first thing to toss out if you fall behind.</li>
		<li>Likewise, we're not testing your First Set Last skills, so when you're
			strapped for time, do the elements of a session in order until you run out
		of time. That plus set is the most important part. As long as that happens,
		progress will continue.</li>
		<li>In general, stick to doing the sessions in order, even if that's not what
		the class is doing. These workouts are meant to build on each other, and
		since you have your own program, you can deviate from the board which is
		intended to allow <em>anyone</em> to come in with no prior knowledge and get
		a good workout in.</li>
	</ul>
	<h4>What is "Core"?</h4>
	<p>Pick an ab exercise (or 5) and do them. Do whatever you want.</p>
	</div>
</div>
