{% extends "bootstrap/base.html" %}
{% block title %}The Wendlerizer{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('.static', filename='styles/style.css') }}">
{% endblock %}
{% block content %}
<div class="container program">
	<div class='page-header'>
		<h1>The Wendlerizer <small>CrossFit Local Total Challenge 2016</small></h1>
	</div>
	<div>
		<div class='row'>
			<div class='col-md-6 session'>
				<h3>Program for {{ name }}</h3>
				<dl>
					{% for key in meta %}
					<dt>{{ key }}</dt>
					<dd>{{ meta[key] }}</dd>
					{% endfor %}
				</dl>
			</div>
		</div>
		{% for cycle in cycles %}
		<h3>{{ cycle["name"] }} {{ loop.index }} <small>{{ cycle["notes"] }}</small></h3>
		<h4>Training Maxes <small>and Joker increments</small></h4>
		<dl>
			{% for lift_type, training_max in cycle["training_maxes"].items() %}
			{% if training_max %}
			<dt>{{ lift_type }}</dt>
			<dd>{{ training_max|int }} (5%: {{ (training_max * 0.05)|int }}, 10% {{ (training_max * 0.1)|int }})</dd>
			{% endif %}
			{% endfor %}
		</dl>
		{% set headings = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
		{% for week in cycle["cycle"] %}
		<h3>Week {{ loop.index }}</h3>
		<div class='row'>
			{% for session in week %}
			<div class='col-md-6 session'>
				<h4>{{ session[0] }} Session</h4>
				{% for element in session[1] %}
				<p>
					{% if element[0] is string %}
					<strong>{{ headings[loop.index - 1] }}.</strong>
					{% set comma = joiner() %}
					{{ element[0] }}
					{% for set in element[1] -%}
					{{ comma() }}
					{% if set[0] %}
					{{ set[0] }} x
					{% endif %}
					{{ set[1] -}}
					{% endfor %}
				</p>
				{% else %}
				<p>
					{% set sub_element_header = headings[loop.index - 1] %}
					{% for sub_element in element %}
					{% set comma = joiner() %}
					<strong>{{ sub_element_header }}{{ loop.index }}.</strong>
					{{ sub_element[0] }}
					{% for set in sub_element[1] -%}
					{{ comma() }}
					{% if set[0] %}
					{{ set[0] }} x
					{% endif %}
					{{ set[1] -}}
					{% endfor %}
				</p>
				{% endfor %}
			</ol>
			{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	{% endfor %}
	{% endfor %}
</div>
<div class='row'>
	<div class='col-md-6'>
		{{ notes|safe }}
		<img src="{{ url_for('.static', filename='images/taco.gif') }}">
	</div>
</div>
</div>
{% endblock %}
