{% extends "WendlerizerBase.html" %}
{% block instructions %}
	<p>The program generator uses your best lifts to program out six weeks of lifting based on Jim Wendler's 5/3/1 and Beyond 5/3/1 books. It includes accessory lifts and instructions for use.</p>
	<p>The Standard program is for most people. Every three weeks it moves the lower body lifts up by 10 pounds and the upper body up by 5 pounds.</p>
	<p>To decrease the pace of weight increases after each microcycle, the "Smaller jumps" program makes more modest jumps, and is recommended for those who are finding it difficult to keep up with the upper body lifts. Click the "Make small jumps" button to generate this program instead of the standard.</p>
{% endblock %}

{% block generator %}
	<p><h2>Generate a Program</h2></p>
	<p>Please enter your information below to generate a training program for the 2016 CrossFit Local CFT Challenge.</p>
	<p>If you don't have a 1RM for a lift, please estimate it with the One Rep Max Calculator. </p>
	{% import "bootstrap/wtf.html" as wtf %}
	<!-- <form method="POST" action="/"> -->
	{{ wtf.quick_form(form, form_type="horizontal") }}
{% endblock %}

{% block advanced %}
<div class='col-md-5 box'>
	<h2>Advanced</h2>
	<p>If you're looking to run a longer program, continue progressing after doing the six week program, or want to modify some of the accessory work, click <a href="{{ url_for("run_advanced_program") }}">here</a>.</p>
</div>
{% endblock %}
